langchain
langchain_community
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
langgraph
langchain-chroma
faiss-cpu
sentence-transformers
pymupdf
Pillow
transformers
streamlit
PyPDF2
altair
arxiv
wikipedia
